<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Profil</title>
  <link rel="stylesheet" href="index.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://badoystudio.com/cloudme.fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
    }
  </style>
</head>
<body>
  <nav>
    <ul class="snip1217">
      <li><a href="home.html">Home</a></li>
      <li class="current"><a href="profil.html">Profil</a></li>
      <li><a href="akademik.html">Akademik</a></li>
      <li style="float: right"><a onclick="keluar()">Logout</a></li>
    </ul>
  </nav>

  <body class="w3-dark-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width: 1200px">
      <!-- The Grid -->
      <div class="w3-row-padding">
        <!-- Left Column -->
        <div class="w3-third">
          <div class="w3-white w3-text-grey w3-card-4 w3-round-xlarge">
            <div class="w3-display-container">
              <img src="𝙸𝚌𝚘𝚗𝚜.jpeg" style="width: 100%" alt="Avatar" class="w3-round-xlarge"/>
              <div class="w3-display-bottomleft w3-container w3-text-black">
                <h2  class="w3-white">Muhammad Radikal</h2>
              </div>
            </div>
            <div class="w3-container">
              <p>
                <i
                  class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-dark-grey"
                ></i
                >Video Editor
              </p>
              <p>
                <i
                  class="fa fa-home fa-fw w3-margin-right w3-large w3-text-dark-grey"
                ></i
                >Pontianak, Kal-Bar
              </p>
              <p>
                <i
                  class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-dark-grey"
                ></i
                >hashitaputeri29@gmail.com
              </p>
              <p>
                <i
                  class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-dark-grey"
                ></i
                >+62-8820-2020-00359
              </p>
              <hr />
            </div>
          </div>
          <br />
          <!-- End Left Column -->
        </div>
        <!-- Right Column -->
        <div class="w3-twothird">
          <div class="w3-container w3-card w3-white w3-margin-bottom w3-round-xlarge">
            <h2 class="w3-text-grey w3-padding-16">
              <i
                class="fa fa-suitcase fa-fw w3-margin-right w3- xxlarge w3-text-dark-grey"
              ></i
              >Pengalaman
            </h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Video Editor</b></h5>
              <h6 class="w3-text-dark-grey">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>2022 -
                <span class="w3-tag w3-dark-grey w3-round">Sekarang</span>
              </h6>
              <p>
                Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel
                in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
                soluta ea et odio, unde doloremque repellendus iure, iste.
              </p>
              <hr />
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Desain Grafis</b></h5>
              <h6 class="w3-text-dark-grey">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>2022 -
                <span class="w3-tag w3-dark-grey w3-round">Sekarang</span>
              </h6>
              <p>
                Consectetur adipisicing elit. Praesentium magnam consectetur vel
                in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
                soluta ea et odio, unde doloremque repellendus iure, iste.
              </p>
              <hr />
            </div>
          </div>
          
          <!-- End Right Column -->
        </div>
        <!-- End Grid -->
      </div>
  <footer>
    <p>&copy; 2023 Profil Saya</p>
  </footer>
  <script>
    function keluar() {
      if (confirm("Apakah anda yakin keluar website?")) {
        location.replace("login.html");
      }
    }
  </script>
</body>
</html>
