/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.content {
  padding: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1217 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1217 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1217 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
.snip1217 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1217 a:before,
.snip1217 a:after {
  height: 3px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #9b59b6;
  width: 0;
}
.snip1217 a:before {
  top: 0;
  left: 0;
}
.snip1217 a:after {
  bottom: 0;
  right: 0;
}
.snip1217 a:hover,
.snip1217 .current a {
  color: #ffffff;
}
.snip1217 a:hover:before,
.snip1217 .current a:before,
.snip1217 a:hover:after,
.snip1217 .current a:after {
  width: 100%;
}

.logg {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgpz img {
  width: 120px;
  height: 115px;
  /* border: 2px solid #d61111; */
}

.textweb {
  line-height: 30px;
  margin: 10px 10px;
  font-size: 40px;
  font-style: bold;
  font-family: "Wix Madefor Display", sans-serif;
  /* border: 2px solid salmon; */
  color: white;
  position: relative;
  text-align: center;
  top: 210px;
}

.textweb p {
  color: #f5cb5c;
  white-space: nowrap;
  border-right: 2px solid white;
  overflow: hidden;
  animation: typing 3s steps(30) infinite;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 38%;
  }
}
